.canvas-area {
    position: relative;
    grid-area: Canvas;
}

.canvas-area > canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planning-canvas {
    z-index: 2;
}

.map-canvas {
    z-index: 1;
}