.App {
    height: 96vh;
    margin: 15px;
    display: grid; 
    grid-template-columns: 163.9px 1.5fr 0.6fr; 
    grid-template-rows: 39.3px 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      "Header Steps RightSide"
      "sidebar Canvas RightSide"; 
}

.header {
    background-color: aqua;
    grid-area: Header;
}

.icon-bar {
    background-color: brown;
    grid-area: sidebar;
}

.steps {
    background-color: blanchedalmond;
    grid-area: Steps;
}

.property-display {
    background-color: darkcyan;
    grid-area: RightSide;
}

.planning-canvas {
    background-color: darksalmon;
    grid-area: Canvas;
}

.icon-bar-header {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.icon-tab {
    height: 30px;
    width: 30px;
    background-color: gray;
}

.icon-tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.player-icon {
    height: 30px;
    width: 30px;
    display: inline;
}

.player-icon > img {
    height: 30px;
    width: 30px;
}