.App {
    height: 100vh;
    display: grid; 
    grid-template-columns: 210px 1.0fr 0.4fr 0.4fr; 
    grid-template-rows: 39.3px 1fr; 
    gap: 1px;
    grid-template-areas: 
      "Header Steps RightSide MiddleRightSide "
      "sidebar Canvas RightSide MiddleRightSide "; 
}

.header {
    grid-area: Header;
}

.icon-bar {
    grid-area: sidebar;
}

.steps {
    grid-area: Steps;
}

.property-display {
    grid-area: RightSide;
}

.element-display {
    grid-area: MiddleRightSide;
}

/* Light Theme */
:root {
    --background-color: #cccccc;
    --text-color: #ffffff;
    --darkest: #1a1a1a;
    --darker: #333333;
    --dark: #4d4d4d;
    --light: #666666;
    --lighter: #808080;


  }
  
  /* Dark Theme */
  :root.light {
    --background-color: #333333;
    --text-color: #000000;
    --darkest: #f2f2f2;
    --darker: #e6e6e6;
    --dark: #cccccc;
    --light: #b3b3b3;
    --lighter: #999999;
}
  