.App {
    height: 96vh;
    margin: 15px;
    display: grid; 
    grid-template-columns: 163.9px 1.5fr 0.6fr; 
    grid-template-rows: 39.3px 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      "Header Steps RightSide"
      "sidebar Canvas RightSide"; 
}

.header {
    background-color: aqua;
    grid-area: Header;
}

.icon-bar {
    background-color: brown;
    grid-area: sidebar;
}

.steps {
    background-color: blanchedalmond;
    grid-area: Steps;
}

.property-display {
    background-color: darkcyan;
    grid-area: RightSide;
}

.planning-canvas {
    background-color: darksalmon;
    grid-area: Canvas;
}